In [2]:

import pandas as pd
import datetime


file_type=".csv"
base_link="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"

In [258]:
def dailyActive(date,country):
    dataframe=pd.read_csv(base_link+date+file_type)
    da=dataframe.loc[dataframe["Country_Region"]==country]["Active"].values[0]
    return da

In [259]:
def activeRange(country,numOfDaysInPast):

    """Gives number of active cases from today to past n number of days, skips until data is available"""
    dateList=[]
    for i in range(0,numOfDaysInPast):
        pastdate=datetime.date.today()-datetime.timedelta(days=i)
        past=pastdate.strftime('%m-%d-%Y')
        dateList.insert(0,past)
    activeList=[]
    for day in dateList:
        try:
            activeList.append(dailyActive(day,country))
        except:
            pass
    
    return activeList

In [260]:
def countryActiveRange(countryList, numOfDaysInPast):
    activeDict={}
    for country in countryList:
        activeDict[country]=activeRange(country,numOfDaysInPast)
    return activeDict

In [284]:
countries=["Ireland","Poland","Serbia","India"]

#note some countries have provincial data as well, in this case we have to pass province,country to get data, check github keys and type in exact text, I'll find a way to make this easier in the future

In [285]:
ab=countryActiveRange(countries,7)

In [286]:
print(ab)

{'Ireland': [4065.0, 4162.0, 4393.0, 4531.0, 4633.0, 4938.0], 'Poland': [18444.0, 17900.0, 15928.0, 14448.0, 13889.0, 13480.0], 'Serbia': [30958.0, 31051.0, 31126.0, 31181.0, 31216.0, 31267.0], 'India': [352.0, 345.0, 338.0, 331.0, 312.0, 307.0]}

In [3]:
df3=pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")

In [4]:
df3

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,26/09/2020,26,9,2020,6,2,Afghanistan,AF,AFG,38041757.0,Asia,1.540413
1,25/09/2020,25,9,2020,16,0,Afghanistan,AF,AFG,38041757.0,Asia,1.614016
2,24/09/2020,24,9,2020,25,5,Afghanistan,AF,AFG,38041757.0,Asia,1.645560
3,23/09/2020,23,9,2020,71,2,Afghanistan,AF,AFG,38041757.0,Asia,1.642931
4,22/09/2020,22,9,2020,30,3,Afghanistan,AF,AFG,38041757.0,Asia,1.524640
...,...,...,...,...,...,...,...,...,...,...,...,...
45176,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45177,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45178,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45179,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
45180,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN